@model X_Technology_ORTv2.Models.MailMessage
@{
    ViewData["Title"] = "Contacto";
}
<section class="mb-4 container">
    @if (ViewBag.message != null && ViewBag.message != "" && ViewBag.type != null && ViewBag.type != "")
    {
        <p class="text-@ViewBag.type">@ViewBag.message</p>
    }
    <h2 class="h1-responsive font-weight-bold text-center my-4">Formulario de contacto</h2>
    <p class="w-responsive text-center mx-auto mb-5">Escribinos por cualquier consulta que tengas. No dudes en contactarnos!</p>
    <div class="row">
        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form asp-action="SendMessage">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-sm-12 mb-3">
                        <label asp-for="Name" class="">Nombre</label>
                        <input asp-for="Name" class="form-control" required type="text" />
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-6 col-sm-12 mb-3">
                        <label asp-for="Email" class="">Email</label>
                        <input type="email" asp-for="Email" class="form-control" required />
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-12 col-sm-12 mb-3">
                        <label asp-for="Message">Mensaje</label>
                        <textarea type="text"
                                  asp-for="Message"
                                  rows="2"
                                  class="form-control md-textarea"></textarea>
                    </div>
                </div>
                <!--Grid row-->
                <div class="text-center text-md-left">
                    <input class="submit btn btn-primary" type="submit" value="Enviar" />
                </div>
                <div class="status"></div>
            </form>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-3 col-sm-12 text-center">
            <ul class="list-unstyled mb-0">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Yatay 240, CABA, Argentina (1179)</p>
                </li>

                <li>
                    <i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+54 9 11 3416-0701</p>
                </li>

                <li>
                    <i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contacto@xtechnology.com.ar</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->
    </div>
</section>